pandas>=2.2.2
numpy>=1.26.4
matplotlib>=3.8.4
seaborn>=0.13.2
scikit-learn>=1.4.2
transformers>=4.44.2
torch>=2.4.1
tqdm>=4.66.5
requests>=2.32.3
assemblyai>=0.33.0
spacy>=3.7.6
textblob>=0.18.0.post0
nltk>=3.9.1
tensorflow>=2.17.0
datasets>=3.0.1
evaluate>=0.4.3
nlpaug>=1.1.11
textattack>=0.3.10
googletrans>=4.0.0rc1